In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline

In [4]:
data = pd.read_csv('QIBAphase2_longitudinal_VdispVvel_4dates.csv')
data

          Date   Phantom Datatype  SWSmean  SWSstd
0   2014-08-20  E2297-A1     Disp   1.5639  0.2296
1   2014-08-20  E2297-B3     Disp   2.0355  0.3171
2   2014-08-20  E2297-C1     Disp   2.6198  0.4695
3   2014-08-20  E2297-A1      Vel   2.0815  0.0465
4   2014-08-20  E2297-B3      Vel   2.8434  0.0784
5   2014-08-20  E2297-C1      Vel   3.7329  0.1373
6   2014-12-14  E2297-A1     Disp   1.6931  0.2962
7   2014-12-14  E2297-B3     Disp   2.3083  0.3788
8   2014-12-14  E2297-C1     Disp   2.4679  0.5450
9   2014-12-14  E2297-A1      Vel   2.1070  0.0896
10  2014-12-14  E2297-B3      Vel   2.8607  0.0700
11  2014-12-14  E2297-C1      Vel   3.7781  0.1338
12  2015-06-30  E2297-A1     Disp   1.6274  0.1241
13  2015-06-30  E2297-B3     Disp   2.0990  0.1619
14  2015-06-30  E2297-C1     Disp   2.4036  0.3164
15  2015-06-30  E2297-A1      Vel   2.1458  0.0626
16  2015-06-30  E2297-B3      Vel   2.9483  0.0397
17  2015-06-30  E2297-C1      Vel   3.9038  0.1209
18  2015-09-15  E2297-A1     Disp   1.4826  0.2604
19  2015-09-15  E2297-B3     Disp   2.0618  0.1223
20  2015-09-15  E2297-C1     Disp   2.4231  0.3318
21  2015-09-15  E2297-A1      Vel   2.1451  0.0726
22  2015-09-15  E2297-B3      Vel   2.9292  0.0857
23  2015-09-15  E2297-C1      Vel   3.8586  0.1146